/* @import url(https://fonts.googleapis.com/css?family=Poiret+One|PT+Sans+Narrow:400,700); */
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import url('https://fonts.googleapis.com/css?family=Allan');

.container-grid {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-column-gap: 1em;
  grid-row-gap: 2em;
  grid-template-columns: auto auto auto auto;
  position: absolute;
  top: 65px;
  width: 1280px;
  height: 650px;
}

.not-found {
  position: absolute;
  align-items: center;
  display: flex;
  top: 30%;
  left: 54%;
  transform: translate(-50%,-50%);
}

.not-found img {
  height: 120px;
  width: 120px;
}

.not-found span {
  font-family: 'Allan', cursive;
  font-size: 60px;
}

.arrows {
  border: 0;
  outline: none;
}

.right-arrow-container {
  justify-content: left;
  display: flex;
}

.left-arrow-container {
  justify-content: flex-end;
  display: flex;
}
