@keyframes lds-cube {
  0% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes lds-cube {
  0% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.lds-css{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.lds-cube {
  position: relative;
  width:100%;
  height:100%;
}
.lds-cube div {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 10px;
  left: 10px;
  background: #93dbe9;
  -webkit-animation: lds-cube 0.7s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  animation: lds-cube 0.7s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  -webkit-animation-delay: -0.21s;
  animation-delay: -0.21s;
}
.lds-cube div:nth-child(2) {
  top: 10px;
  left: 110px;
  background: #689cc5;
  -webkit-animation-delay: -0.14s;
  animation-delay: -0.14s;
}
.lds-cube div:nth-child(3) {
  top: 110px;
  left: 110px;
  background: #3b4368;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.lds-cube div:nth-child(4) {
  top: 110px;
  left: 10px;
  background: #5e6fa3;
  -webkit-animation-delay: -0.07s;
  animation-delay: -0.07s;
}
.lds-cube {
  width: 107px !important;
  height: 107px !important;
  -webkit-transform: translate(-53.5px, -53.5px) scale(0.535) translate(53.5px, 53.5px);
  transform: translate(-53.5px, -53.5px) scale(0.535) translate(53.5px, 53.5px);
}
